.logo-ks{
    font-family: 'FontAwesome';
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.w-dialog{
    width: 960px;
}

.content-wp{
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 0px;
    background: #ececec;
    padding-top: 0px;
}

/*Style pagging*/
ul.pagging{
    float: right;
    margin-top: 15px;
}
ul.pagging li{
    float: left;
    padding: 0px 2px;
}

ul.pagging li a{
    /*    display: block;
        padding: 8px 8px;
        color: #333;
        border: 1px solid #dedede;*/
    display: block;
    padding: 8px 8px;
    color: #333;
    border: 1px solid #ca0a0a;
    background: #1abc9c;
}
ul.pagging li.active a{
    /*    border: 1px solid #f00;
        color: #f00;*/
    border: 1px solid #f00;
    color: #000;
    background: #f1c40f;
}

/*.content-roomType{
    width: 500px;
    margin: 0 auto;
}*/

.border-price-roomtype{
    border: 0px solid;
}

.roomtypedetail_image{
    position: relative;
    width: 100%;
    /*object-fit: contain;*/
    height: 250px;
    padding: 15px 0px;
}
.delete_img{
    position: absolute;
    left: 15px;
    top: 15px;
}

.fl-left{
    float: left;
}
.fl-right{
    float: right;
}
.cart-icon{

    font-size: 48px;
    color: #009688;
    width: 68px;
    margin-top: -4px;
    line-height: 0;
}
.num-order-cart{
    position: absolute;
    top: -4px;
    right: -10px;
    line-height: 10px;
    padding: 5px 5px;
    border-radius: 50em;
    height: 26px;
    width: 26px;
    border: 1px solid #fff;
    font-size: 20px;
}

/*book_room*/
.title-book{
    color: #000;
    border-bottom: 1px solid #6b0a0a;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

.field-wl{
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 3%;
}

.lbl-book{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.input-book{
    width: 100%;
    padding: 3px 15px;
    border: 1px solid #6b0a0a;
}
.field-wr{
    float: right;
    width: 48%;
    margin-bottom: 3%;
}
.shop-table{
    width: 100%;
    text-align: left;
}

.shop-table thead tr {
    border-bottom: 1px solid #6b0a0a;
}

.shop-table thead tr td {
    font-weight: 700;
    padding-bottom: 10px
}

.shop-table tr td:nth-child(2) {
    text-align: right;
}

.shop-table tbody tr td {
    padding: 10px 0px;
    border-bottom: 1px solid #6b0a0a;
    display: table-cell;
    vertical-align: middle;
}
.shop-table tr td:nth-child(2) {
    text-align: right;
}

.shop-table tfoot tr td {
    padding: 10px 0px;
    font-weight: 700;
}

.shop-table tr td:nth-child(2) {
    text-align: right;
}

.place-order-wp input {
    border: none;
    outline: none;
    background: #c70303;
    color: #fff;
    padding: 8px 25px;
    margin-top: 20px;
    border-radius: 3px;
}

#user_login{
    padding: 22px;
    color: #ecf0f1;
    font-size: 21px;
    font-family: arial;
    font-weight: 900;
}

.pr-pagging{
    width: 50%;
}