.w-dialog{
    width: 960px;
}

.content-wp{
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 0px;
    background: #ececec;
    padding-top: 0px;
}

/*Style pagging*/
ul.pagging{
    float: right;
    margin-top: 15px;
}
ul.pagging li{
    float: left;
    padding: 0px 2px;
}

ul.pagging li a{
    display: block;
    padding: 8px 8px;
    color: #333;
    border: 1px solid #dedede;
}
ul.pagging li.active a{
    border: 1px solid #f00;
    color: #f00;
}

/*.content-roomType{
    width: 500px;
    margin: 0 auto;
}*/

.border-price-roomtype{
    border: 0px solid;
}

.roomtypedetail_image{
    position: relative;
    width: 100%;
    /*object-fit: contain;*/
    height: 250px;
    padding: 15px 0px;
}
.delete_img{
    position: absolute;
    left: 15px;
    top: 15px;
}

.fl-left{
    float: left;
}
.fl-right{
    float: right;
}
.cart-icon{

    font-size: 48px;
    color: #009688;
    width: 68px;
    margin-top: -4px;
    line-height: 0;
}
.num-order-cart{
    position: absolute;
    top: -4px;
    right: -10px;
    line-height: 10px;
    padding: 5px 5px;
    border-radius: 50em;
    height: 26px;
    width: 26px;
    border: 1px solid #fff;
    font-size: 20px;
}